[submodule "here-web-frontend"]
	path = here-web-frontend
	url = https://github.com/gtuswe/here-web-frontend
[submodule "here-web-backend"]
	path = here-web-backend
	url = https://github.com/gtuswe/here-web-backend
