[submodule "here-frontend"]
	path = here-frontend
	url = https://github.com/gtuswe/here-frontend
[submodule "here-backend"]
	path = here-backend
	url = https://github.com/gtuswe/here-backend
[submodule "here-mobile"]
	path = here-mobile
	url = https://github.com/gtuswe/here-mobile
